<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzy.www.mapper.OrderMapper">
    <select id="getCar" resultType="Car">
        select * from sys_car where id = #{arg0};
    </select>
    <insert id="setOrders" parameterType="orders" useGeneratedKeys="true" keyProperty="id">
        insert into sys_order (id,cid,uid,getid,backid,oprice,status)values (#{id},#{cid},#{uid},#{getid},#{backid},#{oprice},#{status})
    </insert>
</mapper>
