<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdzy.www.mapper.UserAdminMapper">
    <select id="selectByTelAndEmail" resultType="User">
        select id,tel,email,password,invitation from sys_user where tel like '%tel=#{tel}%' and email '%email=#{email}%'
    </select>
</mapper>
