<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.www.dao.UserDao">

    <resultMap id="UserMap" type="User">
        <id property="uid" column="u_id"/>
        <result property="username" column="u_username"/>
        <result property="password" column="u_password"/>
        <result property="telephone" column="u_telephone"/>
        <result property="email" column="u_email"/>
        <result property="code" column="u_code"/>
    </resultMap>


    <select id="getUser" resultMap="UserMap">
        select * from sys_user
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="username!=null">
                u_username=#{username}
            </if>
            <if test="password!=null">
                and u_password=#{password}
            </if>
        </trim>
    </select>

    <select id="getMessage"  resultType="String">
        <if test="code!=null">
            select u_code from sys_user where u_code=#{code};
        </if>
        <if test="tel!=null">
            select u_telephone from sys_user where u_telephone=#{tel};
        </if>
        <if test="email!=null">
            select u_email from sys_user where u_code=#{email};
        </if>
    </select>
</mapper>